h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    background-color: #fdd500;
    font-weight: bold;
}

p {
    font-family: sans-serif;
}

.testClass {
    font-family: sans-serif;
    text-transform: uppercase;
}