<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel=stylesheet href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${users.isEmpty()}" class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Nėra jokių vartotojų</div>
    <div class="card-body text-warning">
        <h5 class="card-title">Prašome užregistruoti arba grįžti atgal</h5>
        <p class="card-text"></p>
    </div>
    <div class="card-footer bg-transparent border-success">
        <a href="/register" class="btn btn-primary">Registruoti vartotoją</a>
        <a href="/" class="btn btn-primary">Grįžti atgal</a>

        <!--  <button type="button" class="btn btn-primary"><a href="xxx.html">Registruoti vartotoją</a></button>
          <button type="button" class="btn btn-primary"><a href="GreetingPage.html">Grįžti atgal</a></button>-->
    </div>
</div>

<div th:if="${!users.isEmpty()}">

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Password Encrypted</th>
            <th scope="col">Delete User</th>
            <th scope="col">Edit User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <a th:href="@{users/delete/{id}(id=${user.id})}">
                    <i class="fas fa-user-slash"> </i>
                </a>
            </td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}">
                    <i class="fas fa-user-edit"></i>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div>
    <a href="/" class="btn btn-primary"> Back</a>
</div>

</body>
</html>