<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel=stylesheet th:href="@{/css/myCustom.css}">
<link rel=stylesheet href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v4.5.2/css/all.css">
<head>
    <meta charset="UTF-8">
    <title>Greeting page</title>
</head>
<body>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Peržiūrėti visus sistrmos vartotojus</h5>
                <p class="card-text">Užregistruoti sistemos vartotoaji rodomi paspaudus mygtuką:</p>
                <a href="/users" class="btn btn-primary">Users</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Užregistruoti naują sistemos vartotoją</h5>
                <p class="card-text">Paspauskite, kad užregistruotumėte:</p>
                <a href="/register" class="btn btn-primary">Register User</a>
            </div>
        </div>
    </div>
</div>


</body>


</html>
<script type="text/javascript" th:src="@{/js/function.js}"></script>